/* Main Styling */

/*
    *Master styling*
*/

:root {
    --main-font-color: green; 
}

html {
  box-sizing: border-box;
  font-size: 20px;
  font-weight: 200;
}

body {
  margin: 0;
}

*, *:before, *:after {
  box-sizing: inherit;
}

* {
font-family: sans-serif;
color: var(--main-font-color);
text-align: center;
}

a {
    color: inherit;
    font-family: inherit;
    text-decoration: none;
}

a:hover {
    color: inherit;
    text-decoration: none;
    font-weight: 800;
}

body {
	margin: 0;
    font-size: 20px;
}
p {
    font-size:1em;
}

h2 {
    font-family: Arial;
    font-weight:800;
    font-size: 2em;
    text-align:center;
}

h3 {
    font-family: sans-serif;
    font-size: 1.6em;
}

hr  {
    width: 80%;
}

.row {
    margin: auto 0;
}

.alignleft {
    float: left;
    padding: 10px;
}

.alignright {
    float: right;
    padding: 10px;
}

/*Navigation*/
.nav-container {
	background: black;
}

nav ul {
	margin: 0;
	padding:0;
	list-style: none;
	display:flex;
	height: 80px;
}

nav li {
	flex:1;
	text-align: center;
	display: flex;
	justify-content: center;
	align-items: center;
}

nav a {
	text-decoration: none;
	padding:20px;
	display: inline-block;
	transition:all 0.2s;
	text-transform: uppercase;
}

nav li:last-child, nav li:first-child {
	background: white;
	border: black solid 8px;
}

/* Jumbotron Home */
.home-jumbotron {
  height: 500px;
  display: flex;
  background-attachment: fixed;
  background-size: cover;
  justify-content: center;
  align-items: center;
  background-image: url('https://images.unsplash.com/photo-1504643039591-52948e3ddb47?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=caa0ffb3f714ebc5ffded0426b7ff785&auto=format&fit=crop&w=1050&q=80');
}

/*Info Thrids*/
.container {
  display: flex;
}

.inner-cont {
  flex: 1
}

/*Flex Panel*/
.panels-cont {
  display: flex;
  position: relative;
  align-items: center;
  flex-direction: column;
    }

.panels {
  min-height:60vh;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  width: 75%;
  max-width: 1160px;
}

.panel {
  background: #6B0F9C;
  box-shadow: inset 0 0 0 5px rgba(255,255,255,0.1);
  color: white;
  transition: 0.5s;
  font-size: 20px;
  background-size: cover;
  background-position: center;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.panel h3 {
  font-size: 3em;
  padding: 20px;
  margin-bottom: 0;
}

.panel p {
  color: pink;
  max-height: 0;
  padding: 10px 80px;
  opacity: 0;
  transition: 1s;
  transform: translateY(100%);

}

.panel.open p {
  max-height: 500px;

}

.panel.text-active p {
  opacity: 1;
  transform: translateY(0%);  
}